.navbar {
  display: flex;
  flex-direction: row;
  width: auto;
  align-items: center;
  background-color: skyblue;
}

.nav-spacer{
  flex-grow: 1
}

.nav-links {
padding-left: 15px;
padding-right: 5px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

