.body{
background-color: antiquewhite;
}

.navbar {
  display: flex;
  flex-direction: row;
  width: auto;
  align-items: center;
  background-color: skyblue;
  padding-top: 20px;
  border-bottom:20px ;
  border-style: solid;
  border-color: lightblue;
}

.nav-spacer {
  flex-grow: 1;
}

.nav-links {
  padding-left: 15px;
  padding-right: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.section-header {
  font-size: 36px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.paragraph {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    width: auto;
}

.flex-work-grid {
  display: flex;

}

.main-app{
  border-style: solid;
  border-color: lightcyan;
  padding: 15px;
}

.sub-app{
  display: flex;
  border-style: solid;
  border-color: lightslategray;
  border-width: 10px;
  padding: 10px;
  margin: 20px;
  background-color: plum;
  flex-wrap:wrap

}

.contacts-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 825px;
}

.contacts {
  display: flex;
  flex-direction: row;
  width: auto;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
}
